table, th, td{
    border: 1px solid black;
}

table{
    margin-left: 400px;
    margin-top: 200px;
    transition: all 500ms ease;
}

table:hover{
    transform: scale(3.1);
}

caption{
    color: rgb(0, 68, 255);
    margin-bottom: 20px;
    font-size: 30px;
}